body {
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

#root {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 15px;
  width: 1280px;
  height: 720px;
  position: relative;
  box-shadow: 0 4px 8px rgb(0, 4, 255);
}

#clouds-img {
  position: absolute;
  right: 25px;
  width: 200px;
  height: 300px;
  background-image: url("/assets/clouds.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255,255,255,.5);
  background-blend-mode: lighten;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  width: 600px;
  height: 600px;
  background-size: cover;
  margin: auto auto;
  position: absolute;
  top: 3rem;
  left: 25rem;
}

.grid-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #2980b9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background-size: cover;
}
.grid-cell img {
  max-width: 100%;
  max-height: 100%;
}
.grid-cell img.grid-house-empty {
  filter: grayscale(100%);
}
.grid-cell.cell-locked {
  filter: contrast(15%) blur(1px);
}

.grid-menu {
  position: absolute;
  background: lightgray;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  border: 2px solid black;
  z-index: 1000;
  width: 200px;
}
.grid-menu button {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 100px;
  background: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.grid-menu button:hover {
  background: lightgreen;
}

.grid-buy-tabs .tab-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  position: absolute;
  border: 2px solid black;
  width: fit-content;
  padding: 1rem;
  border-radius: 15px;
  background: lightgray;
  box-shadow: 0 3px 2px rgb(122, 122, 122);
  left: 50%;
  top: 9%;
}

.grid-buy-tabs .tab {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background: lightblue;
}

.grid-buy-tabs .tab.active, .grid-buy-tabs .tab:hover {
  background: lightgreen;
}

.menu h3 {
  margin-top: 0;
}

.menu button {
  margin-top: 10px;
}

.info {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 300px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 3px 2px rgb(122, 122, 122);
  border-radius: 15px;
  padding: .5rem;
}
.info-entry.money {
  position: absolute;
  right: 10px;
  width: 230px;
}
.info-entry.time {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 230px;
}
.info-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 3px 2px rgb(122, 122, 122);
}
.info-entry span.unit {
  margin-left: 10px;
}
.info-entry img.icon {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  border-radius: 15px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.progress {
  height: 20px;
  background: linear-gradient(to right, #a5ffc3 0%, #ffec96 45%, #ff8383 100%);
  background-size: 300px 100%;
  text-align: left;
  line-height: 20px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-overflow: inherit;
}

.unit {
  position: absolute;
  color: rgb(0, 0, 0);
  right: 10px;
  top: 0px;
}

.description {
  display: none;
  position: absolute;
  left: 30%;
  bottom: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 1;
}

.info-entry:hover .description {
  display: block;
}


.upgrades {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 15px;
  width: 100px;
  bottom: 0px;
  position: absolute;
}
.player-upgrades {
  padding: 10px 10px;
  height: 450px;
  overflow-y: auto;
}

.player-upgrades>div:hover>.description {
  display: block;
  bottom: unset;
}
.description.desc-low {
  top: 91%;
}
.open-all-upg {
  width: 100%;
  height: 70px;
  cursor: pointer;
}
